@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --index: calc(1vh + 1vw)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-family: 'Open Sans', sans-serif;
}

.container {
    min-height: 100vh;
    padding: 50px;
}

.text, .desc {
    background: white;
    padding: 10px;
    border-radius: 20px;
    height: 100%;
    white-space: pre-wrap;
}

.text_outer, .desc_outer {
    background: #F0E8E1;
    padding: 15px;
    min-height: 80%;
    border-radius: 20px;
    margin: 10px 20px;
    font-size: 23px;
}

.text_outer {
    flex: 3;
}

.desc_outer {
    flex: 1;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    padding: 5px 10px;
    width: 100%;
    height: 100%
}

.btn_outer {
    width: 70px;
    height: 70px;
    background: white;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    transition: background-color .2s, box-shadow .4s, filter .4s;
}

.btn_outer:hover {
    box-shadow: 0 0 10px #66cdff;
    filter: brightness(80%);
}

.btn_outer:active {
    background: lightgray;
}

.img {
    width: 30px;
}

.left {
    display: flex;
    flex: 3;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 100%
}

.right .btn_outer {
    width: calc(10 * var(--index));
}

.right .btn {
    font-size: calc(2 * var(--index));
}
.right {
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: column;
}

.desc {
    display: flex;
    justify-content: center;
}

.wait {
    color: white;
}

.start_pos {
    position: absolute;
    left: 0;
    top: 0;
}

.grid {
    display: grid;
    width: 80vw;
    grid-template-columns: 1fr 1fr 1fr;
    height: 80vw;
    grid-gap: 2px;
    margin: 0 auto;
    padding: 10px;
}

.grid_item_outer {
    width: 100%;
    height: 100%;
    border: #000 1px solid;
    padding: 10px;
    border-radius: 20px;
    background: #ffeada;
    transition: background-color .5s;
    max-height: 30vw;
}

.grid_item_outer:hover {
    background: #c3cdd9;
}

.grid_item_outer:hover a {
    color: #ffffff;
    background: darkorange;
}

.grid_item_inner {
    width: 100%;
    height: 100%;
    font-size: calc(1.2 * var(--index));
}

.grid_item_inner_bottom {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid_item_inner_bottom a {
    color: darkorange;
    text-decoration: none;
    font-weight: bold;
    transition: color .3s, background-color .3s;
    padding: 5px 7px;
    border-radius: 20px;
}

.title {
    text-align: center;
    color: #ffffff;
}

form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 325px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    color: white;
    font-weight: bold;
}

dl, dd, dd {
    width: 100%;
}

.label {
    text-align: center;
    margin-bottom: 10px;
}

form a {
    color: lightcoral;
    text-decoration: none;
    background: #ffe08e;
    padding: 5px 10px;
    border-radius: 20px;
    margin: 10px;
}

input[type="submit"] {
    margin: 10px;
}

input[type="password"], input[type="text"], input[type="email"] {
    border-radius: 20px;
    padding: 15px 10px;
    margin-bottom: 20px;
    border: none;
    width: 100%;
    box-shadow: #9fc3ff 0 0 10px;
}

input[type="submit"] {
    padding: 15px;
    border-radius: 20px;
    border: none;
    background: khaki;
    box-shadow: #9fc3ff 0 0 10px;
    width: 100%;
}

.error {
    background: white;
    padding: 10px;
    border-radius: 20px;
    width: 200px;
    color: red;
    font-weight: bold;
    position: absolute;
    right: 100%;
    top: 10px;
    transition: transform .5s;
}

.shown {
    transform: translateX(210px);
}

.user_outer {
    max-width: 50px;
}

.logo_outer {
    max-width: 150px;
}

.user_outer img, .logo_outer img{
    width: 100%;
}

.user_outer img {
    border-radius: 50%;
}

header {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
}

.nothing {
    color: #ffffff;
    max-width: max-content;
    position: absolute;
    top: 50%;
    font-size: calc(1.1*var(--index));
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


@media screen and (min-width: 1000px) {
    .top_text {
        display: flex;
    }

    .text, .desc {
        min-height: 60vh;
    }
}

@media screen and (max-width: 1000px) {
    .container {
        padding: 10px;
    }

    .top_text {
        display: block;
    }

    .desc {
        min-height: 30vh
    }

    .text {
        min-height: 50vh;
    }

    .text_outer, .desc_outer {
        margin: 0 0 10px 0;
    }
}

