<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Регистрация</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
        <style>
            body {
                background: url('{{url_for('static', filename='imgs/bg.svg')}}') no-repeat;
                background-size: cover; /* Современные браузеры */
            }
        </style>
    </head>
    {% from "_formhelpers.html" import render_field %}
    <body>
        <div class="container">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="error">
                        {% for message in messages %}
                            <div class="error_outer">
                                <div class="error_inner">
                                    <p class="error_text">{{ message }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}

            <form method=post>
                <dl>
                    {{ render_field(form.username) }}
                    {% if email_required %}
                        {{ render_field(form.email) }}
                    {% endif %}
                    {{ render_field(form.password) }}
                    {{ render_field(form.confirm) }}
                </dl>
                <p style="text-align: center">Нажимая на кнопку Register, вы соглашаетесь с использованием файлов cookie</p>
                <input type=submit value=Register>
                <a href="/login">Войти</a>
            </form>
        </div>
    </body>
    <script>
        let error = document.querySelector(".error");
        if (error != null){
            setTimeout(()=>{error.classList.add("shown")}, 100)
        }
    </script>
</html>